@media (prefers-color-scheme: light) {
    * {
        --bg: #fdfdfd;
        --fg: black;
        --navbg: #333;
        --nava: #f2f2f2;
        --navahoverbg: #ddd;
        --navahover: black;
        --highlight: #FCCB00;
        --hamburgerbg: #f2f2f2;
        --dir: red;
        --blurybg: rgba(255, 255, 255, 0.5);
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --bg: #333;
        --fg: #ddd;
        --navbg: #111;
        --nava: #999;
        --navahoverbg: #555;
        --navahover: black;
        --highlight: #FCCB00;
        --hamburgerbg: #999;
        --dir: #bb4444;
        --blurybg: rgba(8, 8, 8, 0.5);
    }

    strong {
        color: white;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fg);
    background-color: var(--bg);
}

body {
    font-family: sans-serif;
    font-size: 1rem;
}

main {
    max-width: 900px;
    margin: auto;
    background-color: var(--bg);
}

h1 {
    margin-bottom: 1rem;
}

h3 {
    margin-top: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

div div input[type="checkbox"] {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

div:has(input[type="checkbox"]:checked) {
    background: var(--navbg);
}

label {
    background-color: transparent;
}